// тк мы к ним обращаемся везде ниже
@import 'utils/vars';
@import 'utils/reset';

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: #101010;
  height: 100%;
}
body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
input,
button {
  border: 1px solid #DCDFE6;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer,
section,
.section {
  position: relative;
  padding: 40px 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}
.wrapper-content {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  margin-top: 80px;
}
.container {
  position: relative;
  flex: 0 0 auto;
  margin: 0 auto;
  padding: 0 100px;
  width: 100%;
  max-width: 1000px;
}
@import './common/_common';