.link {
  cursor: pointer;
  color: #aa8ad6;
  &:hover {
    text-decoration: underline;
    border-bottom: none;
  }
  &.isActive,
  &.router-link-active,
  &.router-link-exact-active {
    color: #8854d0;
  }
}
